{% extends 'layout.html' %}


{% block content %}
<body>
  <div>
    <h2>Contact</h2>

    <form method="POST" action="{{ url_for('auth_bp.register') }}">

      <fieldset>
      {{ form.name.label }}
      {{ form.name }}
        {% if form.name.errors %}
        <ul>
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      <fieldset>
        {{ form.email.label }}
        {{ form.email }}
        {% if form.email.errors %}
          <ul >
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset>
        {{ form.body.label }}
        {{ form.body }}
        {% if form.body.errors %}
          <ul>
            {% for error in form.body.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      {{ form.submit }}

      </form>
  </div>

{% endblock %}