{% extends 'layout.html' %}

{% block content %}
<body>
{% include 'nav.html' %}
{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <div class="page-heading">
                    <h1>New Post</h1>
                    <span class="subheading">You're going to make a great blog post!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            <form method="POST" class="form-container container text-center text-quaternary-color shadow rounded p-3 bg-secondary-color">
                {% for message in get_flashed_messages() %}
                <div class="mb-3">
                    <p class="text-warning">{{ message }}</p>
                </div>
                {% endfor %}
                {{ form.csrf_token }}
                {{ render_hidden_errors(form) }}

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">{{ render_field(form.title, placeholder='The Title of Your Post') }}</div>
                </div>

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">
                        {{ render_field(form.subtitle, placeholder="A quick description of your post.") }}
                    </div>
                </div>

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">{{ render_field(form.img_url, placeholder='Link to an image here') }}</div>
                </div>

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">{{ render_field(form.body) }}</div>
                </div>

                <div class="row justify-content-center">
                    <div class="mb-3">{{ render_field(form.submit) }}</div>
                </div>

            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}





