{% extends 'layout.html' %}

{% block content %}
<body>
{% include 'nav.html' %}
{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}


<div class="container-fluid">
    <div class="row w-100">
        <div class="col mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            <form method="POST"
                  class="container text-center text-quaternary-color shadow rounded p-3 bg-secondary-color w-100">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {{ form.csrf_token }}
                {{ render_hidden_errors(form) }}

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">{{ render_field(form.title, placeholder='The Title of Your Post. 100 character max') }}</div>
                </div>

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">
                        {{ render_field(form.subtitle, placeholder="A quick description of your post. 100 character max") }}
                    </div>
                </div>

                <div class="row mb-4 justify-content-center">
                    <div class="col-6">{{ render_field(form.img_url, placeholder='Link to an image here') }}</div>
                </div>

                <div class="row mb-4 justify-content-center">
                    <div class="col">{{ render_field(form.body) }}</div>
                </div>

                <div class="row justify-content-center">
                    <div class="mb-3">{{ render_field(form.submit) }}</div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}





