{% extends "layout.html" %}

{% block styles %}
{{ super() }}
{% assets "css_index" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}

{% block content %}
<body class="text-center bg-primary-color">
{% include 'nav.html' %}
<div class="banner d-flex flex-column">
    <div class="main-article-container container-fluid d-flex flex-column justify-content-center"
         style="background-image: url({{ all_posts[0].img_url }});">
        <article class="container">
            <div class="article-content row text-with-border justify-content-center">
                <a href="{{ url_for('main_bp.post', post_id=all_posts[0].id) }}" class="text-decoration-none text-quaternary-color">
                    <h1 class="my-3">
                        {{all_posts[0].title}}
                    </h1>
                </a>
                <p class="col-6 my-3">
                    {{all_posts[0].subtitle}}
                </p>
            </div>
            <div class="row justify-content-center my-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url_for('main_bp.post', post_id=all_posts[0].id) }}" class="btn btn-outline-light">Full
                            Story</a>

                    </li>
                </ul>
            </div>
        </article>
    </div>
    <div class="secondary-article-container mb-5">
        <article class="d-flex flex-column justify-content-center container-fluid"
                 style="background-image: url({{ all_posts[1].img_url }});">
            <div class="article-content row justify-content-center text-with-border">
                <a href="{{ url_for('main_bp.post', post_id=all_posts[1].id) }}" class="text-decoration-none text-quaternary-color">
                    <h1 class="my-2">
                        {{all_posts[1].title}}
                    </h1>
                </a>
                <p class="col-6 my-2 ">
                    {{all_posts[1].subtitle}}
                </p>
            </div>
            <div class="row justify-content-center my-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url_for('main_bp.post', post_id=all_posts[1].id) }}" class="btn btn-outline-light">Full
                            Story</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="d-flex flex-column justify-content-center container-fluid"
                 style="background-image: url({{ all_posts[2].img_url  }});">
            <div class="article-content row justify-content-center text-with-border">
                <a href="{{ url_for('main_bp.post', post_id=all_posts[2].id) }}" class="text-decoration-none text-quaternary-color">
                    <h1 class="my-2">
                        {{all_posts[2].title}}
                    </h1>
                </a>
                <p class="col-6 my-2 ">
                    {{all_posts[2].subtitle}}
                </p>
            </div>
            <div class="row justify-content-center my-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url_for('main_bp.post', post_id=all_posts[2].id) }}" class="btn btn-outline-light">Full
                            Story</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</div>

<div class="featured-article-container container mp-6 d-flex flex-column justify-content-start">
    <article class="container">
        <div class="article-content row text-with-border justify-content-center">
            <a href="{{ url_for('main_bp.post', post_id=all_posts[3].id) }}" class="text-decoration-none text-quaternary-color">
                <h1 class="p-3">
                    {{all_posts[3].title}}
                </h1>
            </a>
            <p class="col-6">
                {{all_posts[3].subtitle}}
            </p>
        </div>
        <a href="{{ url_for('main_bp.post', post_id=all_posts[3].id) }}" >
            <div class="featured-article-image m-5"
                 style="background-image: url({{ all_posts[3].img_url}});">
            </div>
        </a>
        <div class="row justify-content-center my-3">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ url_for('main_bp.post', post_id=all_posts[3].id) }}" class="btn btn-secondary">Full Story</a>
                </li>
            </ul>
        </div>
    </article>
</div>
<div class="post-container text-quaternary-color mt-5 pt-5" id="post-container">
    {% for post in pagination.items %}
    <div class="post">
        <a href="{{ url_for('main_bp.post', post_id=post.id) }}">
            <div class="post-image"
                 style="background-image: url({{ post.img_url }});">
            </div>
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text m-3">{{ post.subtitle }}</p>
            <a href="{{ url_for('main_bp.post', post_id=post.id) }}" class="btn btn-secondary mt-3">Full Story</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container my-3 p-3 d-flex justify-content-center">
    <nav aria-label="post-navigation">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class='page-link' href="{{ url_for('main_bp.index', page=pagination.prev_num) }}#post-container">
                    Previous
                </a>
            </li>
            {% endif %}
            {% for number in pagination.iter_pages() %}
            {% if pagination.page != number %}
            <li class="page-item">
                <a class='page-link'
                   href="{{ url_for('main_bp.index', page=number) }}#post-container">
                    {{ number }}
                </a>
            </li>
            {% else %}
            <li class='page-item active' aria-current="page">
                <span class="page-link">{{ number }}</span>
            </li>
            {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
            <li class="page-item">
                <a class='page-link'
                   href="{{ url_for('main_bp.index', page=pagination.next_num) }}#post-container">
                    Next
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="footer container d-flex justify-content-center py-3">
    <footer>
        Footer
    </footer>
</div>

{% endblock %}