{% extends "layout.html" %}

{% block styles %}
{{ super() }}
{% assets "css_login" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}

{% block content %}
<body>
{% include 'nav.html' %}

{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}
<div class="wrapper d-flex flex-column container">
    <div class="container p-5 rounded dummy-text">
        <h1 class="text-center pb-3"> This is where the magic begins!</h1>
        <aside class="text-quaternary-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac
            posuere urna,
            quis
            dignissim
            nulla. Aenean fringilla odio vitae varius efficitur.
        </aside>
    </div>


    <form method="POST" class="form-container container text-center text-quaternary-color shadow rounded p-3">
        {% for message in get_flashed_messages() %}
        <div class="mb-3">
            <p class="text-warning">{{ message }}</p>
        </div>
        {% endfor %}
        {{ form.csrf_token }}
        {{ render_hidden_errors(form) }}

        <div class="row mb-4 justify-content-center">
            <div class="col-6">{{ render_field(form.email, placeholder='email@example.com') }}</div>
        </div>

        <div class="row mb-4 justify-content-center">
            <div class="col-6">
                {{ render_field(form.password, placeholder="Enter password here") }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="mb-3">{{ render_field(form.submit) }}</div>
        </div>

    </form>

    <div class="">
        <div class="text-quaternary-color">
            <span class="row m-3 justify-content-center">Already have an account?</span>
            <a class="row mb-3 justify-content-center" href="{{ url_for('auth_bp.login') }}">Log In Here</a>
        </div>

    </div>
</div>
{% endblock %}