{% extends 'layout.html' %}

{% block head %}
{% assets "css_bootstrap" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% assets "css_main" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% assets "css_post" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}

{% block content %}
<body>
{% include 'nav.html' %}
{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}


<div class="">
        <article class="container">
            <header class="row text-center text-quaternary-color mt-5">
                <h1 class="">
                    {{post.title}}
                </h1>
                <h3>
                {{post.subtitle}}
                </h3>
            </header>
            <div class="row justify-content-center my-3 pb-5">
                <img class="col-9" src="{{ post.img_url }}" alt="">
            </div>
            <div class="row text-start text-quaternary-color justify-content-center">
                <div class="col-10">{{ post.body|safe }}</div>
            </div>
            {% if current_user.id == post.author_id %}
            <div class="row justify-content-center my-5">
                <a class=" col-2 btn btn-primary"
                   href="#">
                    Edit Post
                </a>
            </div>
            {% endif %}
        </article>
        <!--           Comments Area -->

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='comment_text') }}
        <form method="POST"
              class="container text-center text-quaternary-color shadow rounded p-3 my-5">
            {% for message in get_flashed_messages() %}
            <div class="mb-3">
                <p class="text-warning">{{ message }}</p>
            </div>
            {% endfor %}
            {{ form.csrf_token }}
            {{ render_hidden_errors(form) }}
            {{ form.post_id(value=post.id) }}

            <div class="row mb-4 justify-content-center">
                <div class="col">{{ render_field(form.comment_text) }}</div>
            </div>

            <div class="row justify-content-center">
                <div class="mb-3">{{ render_field(form.submit) }}</div>
            </div>
        </form>


        <div class="col-lg-8 col-md-10 mx-auto text-quaternary-color text-center">
            {% for comment in post.comments: %}
            <ul class="commentList">
                <li class="d-flex justify-content-between align-items-center">
                    <div class="commenterImage">
                        <svg>

                        </svg>
                    </div>
                    <div class="">
                        {{comment.text|safe}}
                    </div>
                    <div class="">{{comment.comment_author.username}}</div>
                </li>
            </ul>
            {% endfor %}
        </div>

</div>

{% include 'footer.html' %}
{% endblock %}