{% extends "layout.html" %}

{% block content %}
<body>
{% include 'nav.html' %}

{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}

<div class="wrapper d-flex flex-column container">
    <div class="container p-5 rounded">
        <h1 class="text-center pb-3 text-quaternary-color"> Reset Your Password</h1>
    </div>
    <form method="POST" class=" text-center text-quaternary-color bg-secondary-color shadow rounded py-5">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {{ form.csrf_token }}
        {{ render_hidden_errors(form) }}

        <div class="row mb-4 justify-content-center">
            <div class="col-6">{{ render_field(form.password, placeholder='New Password') }}</div>
        </div>
        <div class="row mb-4 justify-content-center">
            <div class="col-6">{{ render_field(form.password2, placeholder='Confirm New Password') }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3">{{ render_field(form.submit) }}</div>
        </div>

    </form>
    {% endblock %}