<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% assets "css_bootstrap" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "css_dashboard" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>

<div class="grid-container">
    <div class="menu-icon">
        <strong> &#9776;</strong>
    </div>
    <header class="header">
        <div class="header_avatar">AVATAR WILL GO HERE</div>
        <div class="header_logout">Logout</div>
    </header>
    <aside class="aside">
        <div>
            <span class="">
                PICTURE
            </span>
        </div>
        <div class="aside_close-icon">
            <strong>&times;</strong>
        </div>
        <ul class="aside_list">
            <li class="aside_list-item">Menu item1</li>
            <li class="aside_list-item">Menu item2</li>
            <li class="aside_list-item">Menu item3</li>
            <li class="aside_list-item">Menu item4</li>
            <li class="aside_list-item">Menu item5</li>
        </ul>
    </aside>
    <main class="main">
        <div class="main_overview">
            <div class="overview_card">
                <div class="overview_card-info">Overview</div>
                <div class="overview_card-icon">Card</div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info">Overview</div>
                <div class="overview_card-icon">Card</div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info">Overview</div>
                <div class="overview_card-icon">Card</div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info">Overview</div>
                <div class="overview_card-icon">Card</div>
            </div>
        </div>

        <div class="main_cards">
            <div class="card">Card</div>
            <div class="card">Card</div>
            <div class="card">Card</div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_copyright">&copy;2020</div>
        <div class="footer_byline">Made with &hearts;</div>
    </footer>
</div>

{% assets "js_bootstrap" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "js_dashboard" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>
