 *{
//     outline: 1px solid red;
 }

 main {
 }

.post-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofit, 1fr);
    gap: 5%
}

.post {
    height: 70vh;
}

.post-image {
    height: 40vh;
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 991px) {
    .post-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .post-container {
        grid-template-columns: repeat(1, 1fr);
    }
}