* {
//     outline: 1px solid red;
}
img {
//     max-width: 50%;
}

h1 {

}

h2 {

}

h3 {
    font-size: 1rem;
    font-weight: 600;
}
p {
  line-height: 1rem;   /* within paragraph */
  margin: 1.25rem auto; /* between paragraphs */
  font-size: 1rem;
  }

strong {
    font-size: 500;
}

.edit-comment-input {
    resize: both;
}